.fertilitiy-assement-accodion-item {
    border: 1px solid var(--google-icon-border) !important;
    border-radius: 12px !important;
    overflow: hidden;

}

.custom-accordion-body {
    padding: 0 16px 16px !important;
}

/* physical-assessment form accordion */


.accordion-form-physical-assessment .input-custom-width {
    width: 47.83% !important;
}

.accordion-form-physical-assessment .or-custom-width {
    width: 4.3% !important;
    padding: 0 !important;
}

