/* Base styles (default for desktops > 991px) */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tienne:wght@400;700;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.maiacare-input-field-label {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-brand);
}

.maiacare-input-field {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-brand);
}

.maiacare-input-field::placeholder {
    color: var(--color-radio);
}

.maiacare-input-field-helper-text {
    color: var(--color-sidebar-icon);
    font-size: 14px;
    font-weight: 500;
}

.maiacare-input-field-error {
    font-size: 14px;
    font-weight: 500;
}

.maiacare-radio-wrapper {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-radio);
}

.maiacare-radio-label {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-radio-lable);
}

.maiacare-input-field-maxlength-indicator {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-sidebar-icon);
}

.maiacare-button-large {
    font-size: 18px;
    font-weight: 500;
}

.maiacare-button-medium {
    font-size: 16px;
    font-weight: 500;
}

.maiacare-button-small {
    font-size: 14px;
    font-weight: 500;
}

.default-layout {
    background-color: var(--color-brand);
    color: var(--color-white);

}

.default-layout:hover {
    background-color: var(--color-brand);
    color: var(--color-white);
}

.default-layout:focus-visible {
    background-color: var(--color-brand);
    color: var(--color-white);
}

.default-layout:active {
    background-color: var(--color-brand) !important;
    color: var(--color-white) !important;
    transform: scale(0.98);
    transition: all 0.2s ease-in-out;
}

.default-layout:disabled {
    background-color: var(--color-brand) !important;
    color: var(--color-white) !important;
    cursor: not-allowed;
}

.outline-layout {
    background-color: transparent;
    color: var(--color-brand);
    border: 1px solid var(--color-brand);
}

.outline-layout:hover {
    background-color: transparent;
    color: var(--color-brand);
    border: 1px solid var(--color-brand);
}

.outline-layout:focus-visible {
    background-color: transparent;
    color: var(--color-brand);
    border: 1px solid var(--color-brand);
}

.outline-layout:active {
    background-color: transparent !important;
    color: var(--color-brand) !important;
    border: 1px solid var(--color-brand) !important;
    transform: scale(0.98);
    transition: all 0.2s ease-in-out;
}

.outline-layout:disabled {
    background-color: var(--color-brand) !important;
    color: var(--color-white) !important;
    cursor: not-allowed;
}

.maiacare-phone-input {
    font-size: 16px !important;
    font-weight: 500;
}

.login-button {
    width: 100%;
    background-color: var(--color-brand);
    color: var(--color-white);
    font-weight: 600;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
}

.login-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    font-style: SemiBold;
    color: var(--login-font);
}

.login-subtitle {
    font-weight: 400;
    font-size: 18px;
    font-style: Regular;
    line-height: 160%;
    color: var(--font-subtitle);
}

.login-image-content {
    font-weight: 600;
    font-size: 44px;
    color: var(--color-white);
    line-height: 56px;
}

.select-profile {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: var(--profile-text);
}

.select-profile-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--profile-subtitle);
}

.input-label-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    font-style: SemiBold;
    color: var(--input-label-title);
}

.input-inner-text input {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    font-style: Medium;
    color: var(--input-label-title);

}

.input-forrgot-password {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: var(--input-forgot-password);
    font-style: bold;
}

.login-google-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    font-style: medium;
    color: var(--color-heading);

}

.login-dont {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-style: Regular;
    color: var(--color-radio-lable);
}

.login-image-contetnt {
    font-weight: 600;
    font-size: 44px;
    color: var(--color-white);
    line-height: 56px;
    font-style: SemiBold;
}

.loginpage-or-btn {
    font-size: 12px;
    font-weight: 600;
    font-style: SemiBold;
    color: var(--or-font-color);
}

.select-profile-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    font-style: SemiBold;
    color: var(--profile-text);
}

.select-profile-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-style: Regular;
    color: var(--color-sidebar-icon);
}

.doctor-profile-heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    font-style: SemiBold;
    color: var(--color-heading);
}

.doctor-profile-subheading {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    font-style: Regular;
    color: var(--font-subtitle);
}

.contact-details-heading {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    font-style: SemiBold;
    color: var(--color-heading);
}

.contact-details-subheading {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-style: Regular;
    color: var(--color-radio-lable);
}
.medical-emergency-fimily-history{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    font-style: medium;
    color: var(--color-radio-lable);
}
.medical-history-edit-btn-font{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-brand);
}
/* pankaj solanki start*/

.setting-password-item-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: var(--color-sidebar-icon);

}

.password-requirements {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: var(--color-radio-lable);
}

/* setting accordion */
.accordion-title {
    color: var(--color-heading);
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;

}

.settings-accordion-subtitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: var(--color-radio-lable);
}

.your-device-box-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #1E293B;
}

.your-device-box-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-heading);
    width: 90%;

}

.support-faqs-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #1E293B;

}

.support-faqs-desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-heading);

}

.contact-detail {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #1E293B;
}

.support-accordion-content {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #858B95;
    padding: 20px !important;
}

.forgate-password {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: var(--color-brand);
}
.accordion-title-detail{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    font-style: SemiBold;
    color: var(--color-radio-lable);
}
.border-box-orange-font{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    font-style: medium;
    color: var(--border-box);
}
.border-box-blue-font{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    font-style: medium;
    color: var(--border-box-blue);
}
.border-box-red-font{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    font-style: medium;
    color: var(--border-box-red);
}
/* support accordion */

.support-accordion-item {
    border: none !important;
}

.support-accordion-item .accordion-button {
    padding: 0 !important;
}

.support-accordion-header {
    font-size: 16px;
    font-weight: 550;
    line-height: 20px;
    color: var(--color-radio-lable);
    padding: 0 10px;
}

.support-accordion-item .accordion-button::after {
    border: 1px solid var(--color-icon-border);
    width: 40px;
    height: 40px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    /* Center the arrow inside */
    background-position: center;
    background-repeat: no-repeat;
}

.support-accordion-item .accordion-button:not(.collapsed)::after {
    transform: rotate(180deg);
}

.login-button {
    width: 100%;
    background-color: var(--color-brand);
    color: var(--color-white);
    font-weight: 600;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
}

.login-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    font-style: SemiBold;
    color: var(--login-font);
}

.login-subtitle {
    font-weight: 400;
    font-size: 18px;
    font-style: Regular;
    line-height: 160%;
    color: var(--font-subtitle);
}

.login-image-content {
    font-weight: 600;
    font-size: 44px;
    color: var(--color-white);
    line-height: 56px;
}

.select-profile {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: var(--profile-text);
}

.select-profile-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--profile-subtitle);
}

.input-label-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    font-style: SemiBold;
    color: var(--input-label-title);
}

.input-inner-text input {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    font-style: Medium;
    color: var(--input-label-title);

}

.input-forrgot-password {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: var(--input-forgot-password);
    font-style: bold;
}

.login-google-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    font-style: medium;
    color: var(--color-heading);

}

.login-dont {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-style: Regular;
    color: var(--color-radio-lable);
}

.login-image-contetnt {
    font-weight: 600;
    font-size: 44px;
    color: var(--color-white);
    line-height: 56px;
    font-style: SemiBold;
}

.loginpage-or-btn {
    font-size: 12px;
    font-weight: 600;
    font-style: SemiBold;
    color: var(--or-font-color);
}

.select-profile-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    font-style: SemiBold;
    color: var(--profile-text);
}

.select-profile-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-style: Regular;
    color: var(--color-sidebar-icon);
}

.doctor-profile-heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    font-style: SemiBold;
    color: var(--color-heading);
}

.doctor-profile-subheading {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    font-style: Regular;
    color: var(--font-subtitle);
}

.contact-details-heading {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    font-style: SemiBold;
    color: var(--color-heading);
}

.contact-details-subheading {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-style: Regular;
    color: var(--color-radio-lable);
}
.contact-details-emergency{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    font-style: SemiBold;
    color: var(--font-subtitle);
}
.contact-details-emergency-subdetail{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    font-style: SemiBold;
    color: var(--color-radio-lable);
}
.maiacare-modal .modal-custom-header{
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 28px;
  color: var(--color-modal-heading);
}

@media screen and (max-width: 425px) {
    .your-device-box-subtitle {
        width: 100%;
    }

    .fertilitiy-assement-accodion-title {
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        color: var(--color-brand);
    }

    /* pankaj solanki end*/


}

@media screen and (max-width: 1400px) {
    .login-image-contetnt {
        font-size: 40px;
        line-height: 48px;
    }
}

@media screen and (max-width: 1024px) {
    .login-title {
        font-size: 33px;
        line-height: 40px;
    }

    .login-subtitle {
        font-size: 17px;
        line-height: 20px;
    }

    .login-image-contetnt {
        font-size: 40px;
        line-height: 51px;
    }
}

/* Media Query: Tablets (991px and below) */
@media (max-width: 991px) {
    .maiacare-input-field-label {
        font-size: 13px;
    }

    .maiacare-input-field {
        font-size: 15px;
    }

    .maiacare-input-field-helper-text,
    .maiacare-input-field-error {
        font-size: 13px;
    }

    .maiacare-radio-label {
        font-size: 13px;
    }

    .modal-custom-header {
        font-size: 20px;
    }

    .login-title {
        font-size: 31px;
        line-height: 35px;
    }

    .login-image-contetnt {
        font-size: 38px;
        line-height: 48px;
    }

    .maiacare-button-medium {
        font-size: 14px;
    }

    .maiacare-button-small {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .login-title {
        font-size: 29px;
        line-height: 30px;
    }

    .login-subtitle {
        font-size: 16px;
        line-height: 20px;
    }

    .login-image-contetnt {
        font-size: 30px;
        line-height: 46px;
    }

    .maiacare-button-large {
        font-size: 16px;
    }

    .maiacare-button-medium {
        font-size: 14px;
    }

    .maiacare-button-small {
        font-size: 12px;
    }
}

/* Optional: Smaller devices like phones (e.g., 575px and below) */
@media (max-width: 575px) {
    .maiacare-input-field-label {
        font-size: 12px;
    }

    .maiacare-input-field {
        font-size: 14px;
    }

    .maiacare-input-field-helper-text,
    .maiacare-input-field-error {
        font-size: 12px;
    }

    .maiacare-radio-label {
        font-size: 12px;
    }

    .modal-custom-header {
        font-size: 18px;
    }

    .login-title {
        font-size: 27px;
        line-height: 30px;
    }

    .login-subtitle {
        font-size: 14px;
        line-height: 20px;
    }

}

@media screen and (max-width: 426px) {
    .login-title {
        font-size: 25px;
        line-height: 25px;
    }

    .login-subtitle {
        font-size: 13px;
        line-height: 20px;
    }

    .maiacare-button-large {
        font-size: 14px;
    }

    .maiacare-button-medium {
        font-size: 12px;
    }

    .maiacare-button-small {
        font-size: 10px;
    }
}

@media screen and (max-width: 376px) {}

@media screen and (max-width: 320px) {}