/* Base styles (default for desktops > 991px) */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tienne:wght@400;700;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.maiacare-input-field-label {
    font-size: 14px;
    font-weight: 700 !important;
    /* color: var(--color-brand); */
    color: var(--color-radio-lable);
    font-style: semibold;
}

.maiacare-input-field {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-brand);

}

.maiacare-input-field::placeholder {
    color: var(--color-radio);

}

.maiacare-input-field-helper-text {
    color: var(--color-sidebar-icon);
    font-size: 14px;
    font-weight: 500;
}

.maiacare-input-field-error {
    font-size: 14px;
    font-weight: 500;
}

.maiacare-radio-wrapper {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-radio);
}

.maiacare-radio-label {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-radio-lable);
}

.maiacare-input-field-maxlength-indicator {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-sidebar-icon);
}

.maiacare-button-large {
    font-size: 18px;
    font-weight: 500;
}

.maiacare-button-medium {
    font-size: 16px;
    font-weight: 500;
}

.maiacare-button-small {
    font-size: 14px;
    font-weight: 500;
}

.default-layout {
    background-color: var(--color-brand);
    color: var(--color-white);
    /* border: none !important; */

}

.default-layout:hover {
    background-color: var(--color-brand);
    color: var(--color-white);
}

.default-layout:focus-visible {
    background-color: var(--color-brand);
    color: var(--color-white);
}

.default-layout:active {
    background-color: var(--color-brand) !important;
    color: var(--color-white) !important;
    transform: scale(0.98);
    transition: all 0.2s ease-in-out;
}

.default-layout:disabled {
    background-color: var(--color-brand) !important;
    color: var(--color-white) !important;
    cursor: not-allowed;
}

.outline-layout {
    background-color: transparent;
    color: var(--color-brand);
    border: 1px solid var(--color-brand);
}

.outline-layout:hover {
    background-color: transparent;
    color: var(--color-brand);
    border: 1px solid var(--color-brand);
}

.outline-layout:focus-visible {
    background-color: transparent;
    color: var(--color-brand);
    border: 1px solid var(--color-brand);
}

.outline-layout:active {
    background-color: transparent !important;
    color: var(--color-brand) !important;
    border: 1px solid var(--color-brand) !important;
    transform: scale(0.98);
    transition: all 0.2s ease-in-out;
}

.outline-layout:disabled {
    background-color: var(--color-brand) !important;
    color: var(--color-white) !important;
    cursor: not-allowed;
}

.maiacare-phone-input {
    font-size: 16px !important;
    font-weight: 500;
}

.login-button {
    width: 100%;
    background-color: var(--color-brand);
    color: var(--color-white);
    font-weight: 600;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
}

.login-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    font-style: SemiBold;
    color: var(--login-font);
}

.login-subtitle {
    font-weight: 400;
    font-size: 18px;
    font-style: Regular;
    line-height: 160%;
    color: var(--font-subtitle);
}

.login-image-content {
    font-weight: 600;
    font-size: 44px;
    color: var(--color-white);
    line-height: 56px;
}

.select-profile {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: var(--profile-text);
}

.select-profile-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--profile-subtitle);
}

.input-label-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    font-style: SemiBold;
    color: var(--input-label-title);
}

.input-inner-text input {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    font-style: Medium;
    color: var(--input-label-title);

}

.input-forrgot-password {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: var(--input-forgot-password);
    font-style: bold;
}

.login-google-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    font-style: medium;
    color: var(--color-heading);

}

.login-dont {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-style: Regular;
    color: var(--color-radio-lable);
}

.login-image-contetnt {
    font-weight: 600;
    font-size: 44px;
    color: var(--color-white);
    line-height: 56px;
    font-style: SemiBold;
}

.loginpage-or-btn {
    font-size: 12px;
    font-weight: 600;
    font-style: SemiBold;
    color: var(--or-font-color);
}

.select-profile-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    font-style: SemiBold;
    color: var(--profile-text);
}

.select-profile-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-style: Regular;
    color: var(--color-sidebar-icon);
}

.doctor-profile-heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    font-style: SemiBold;
    color: var(--color-heading);
    font-family: var(--font-geist-sans1);
}

.doctor-profile-subheading {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    font-style: Regular;
    color: var(--font-subtitle);
}


.medical-emergency-fimily-history {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    font-style: medium;
    color: var(--color-radio-lable);
}

.medical-history-edit-btn-font {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-brand);
}


.login-button {
    width: 100%;
    background-color: var(--color-brand);
    color: var(--color-white);
    font-weight: 600;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
}

.login-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    font-style: SemiBold;
    color: var(--login-font);
}

.login-subtitle {
    font-weight: 400;
    font-size: 18px;
    font-style: Regular;
    line-height: 160%;
    color: var(--font-subtitle);
}

.login-image-content {
    font-weight: 600;
    font-size: 44px;
    color: var(--color-white);
    line-height: 56px;
}

.select-profile {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: var(--profile-text);
}

.select-profile-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--profile-subtitle);
}

.input-label-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    font-style: SemiBold;
    color: var(--input-label-title);
}

.input-inner-text input {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    font-style: Medium;
    color: var(--input-label-title);

}

.input-forrgot-password {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: var(--input-forgot-password);
    font-style: bold;
}

.login-google-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    font-style: medium;
    color: var(--color-heading);

}

.login-dont {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-style: Regular;
    color: var(--color-radio-lable);
}

.login-image-contetnt {
    font-weight: 600;
    font-size: 44px;
    color: var(--color-white);
    line-height: 56px;
    font-style: SemiBold;
}

.loginpage-or-btn {
    font-size: 12px;
    font-weight: 600;
    font-style: SemiBold;
    color: var(--or-font-color);
}

.select-profile-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    font-style: SemiBold;
    color: var(--profile-text);
}

.select-profile-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-style: Regular;
    color: var(--color-sidebar-icon);
}


.doctor-profile-subheading {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    font-style: Regular;
    color: var(--font-subtitle);
}

.contact-details-heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    font-style: SemiBold;
    color: var(--color-heading);
}

.contact-details-subheading {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    font-style: Regular;
    color: var(--color-radio-lable);
}

.contact-details-emergency {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    font-style: SemiBold;
    color: var(--font-subtitle);
}

.contact-details-emergency-subdetail {
    font-weight: 600;
    font-size: 17px;
    line-height: 18px;
    font-style: SemiBold;
    color: var(--color-radio-lable);
}

.maiacare-modal .modal-custom-header {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 28px;
    color: var(--color-modal-heading);
}

.modal-custom-header {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 28px;
    color: var(--color-modal-heading);
}

.patient-accordion-content-subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    font-style: italic;
    color: #B0B4C1;

}

.patient-journey-heading {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    font-style: bold;
    color: var(--color-heading);
}

.fertilitiy-assement-accodion-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: var(--color-brand);
}

.patient-journey-chart-details {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    font-style: Regular;
    color: var(--color-sidebar-icon);
}

.treatment-success-rate-charts-patients {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    font-style: Medium;
    color: var(--dashboard-chart-patients);
}

.treatment-success-rate-datas {
    font-size: 36px;
    font-weight: 500;
    line-height: 26px;
    font-style: bold;
    color: var(--color-heading);
}

.dashboard-treatment-success-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    font-style: SemiBold;
    color: var(--color-radio-lable);
}

.dashboard-treatment-success-patients {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    font-style: Medium;
    color: var(--color-sidebar-icon);
}

.dashboard-treatment-success-rate {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    font-style: SemiBold;
    color: var(--dashboard-card-green);
}

.dashboard-treatment-success {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    font-style: SemiBold;
    color: var(--color-radio-lable);
}

.doctor-listing-modal-id {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    font-style: medium;
    color: var(--color-radio-lable);
}

.doctor-listing-calender-heading {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    font-style: medium;
    color: var(--color-heading);
}
.appointments-total-box-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    font-style: medium;
    color: var(--color-heading);
}

.doctor-listing-calender-filter {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    font-style: medium;
    color: var(--color-sidebar-icon);
    cursor: pointer;
}

.doctor-listing-modal-label {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    font-style: medium;
    color: var(--color-sidebar-icon);
}

.doctor-listing-modal-subtext {
    font-size: 14px;
    font-weight: 600 !important;
    line-height: 18px;
    font-style: medium;
    color: #3E4A57;
}

.doctor-listing-heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    font-style: medium;
    color: var(--color-heading);
}

.doctor-listing-modal-patient-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    font-style: Regular;
    color: var(--color-heading);
}

.doctor-listing-modal-button {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    font-style: Bold;
    color: var(--color-white);
}

@media screen and (max-width: 768px) {

    .contact-details-heading {
        font-size: 19px;
    }

    .patient-accordion-content-subtitle {
        font-size: 19px;

    }

    .patient-journey-heading {
        font-size: 19px;
    }
}

@media screen and (max-width: 575px) {
    .doctor-profile-heading {
        font-size: 18px;
        line-height: 22px;
    }

    .doctor-profile-subheading {
        font-size: 13px;
    }

    .contact-details-heading {
        font-size: 17px;
    }

    .patient-journey-heading {
        font-size: 17px;
    }

    .contact-details-subheading {
        font-size: 15px;
    }


}

@media screen and (max-width: 425px) {
    .your-device-box-subtitle {
        width: 100%;
    }


    .contact-details-heading {
        font-size: 16px;
    }

    .patient-journey-heading {
        font-size: 16px;
    }

    .contact-details-subheading {
        font-size: 14px;
    }

}


@media screen and (max-width: 1400px) {
    .login-image-contetnt {
        font-size: 40px;
    }
}

@media screen and (max-width: 1199px) {
    .login-title {
        font-size: 35px;
    }

    .login-image-contetnt {
        font-size: 38px;
    }
}

@media screen and (max-width: 1024px) {
    .login-title {
        font-size: 33px;
        line-height: 40px;
    }

    .login-subtitle {
        font-size: 17px;
        line-height: 20px;
    }

    .login-image-contetnt {
        font-size: 36px;
    }

    .doctor-profile-subheading {
        font-size: 14px;
    }
}

/* Media Query: Tablets (991px and below) */
@media (max-width: 991px) {
    .maiacare-input-field-label {
        font-size: 13px;
    }

    .maiacare-input-field {
        font-size: 15px;
    }

    .maiacare-input-field-helper-text,
    .maiacare-input-field-error {
        font-size: 13px;
    }

    .maiacare-radio-label {
        font-size: 13px;
    }

    .modal-custom-header {
        font-size: 20px;
    }

    .login-title {
        font-size: 31px;
        line-height: 35px;
    }

    .login-image-contetnt {
        font-size: 33px;
    }

    .maiacare-button-medium {
        font-size: 14px;
    }

    .maiacare-button-small {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .login-title {
        font-size: 29px;
        line-height: 30px;
    }

    .login-subtitle {
        font-size: 16px;
        line-height: 20px;
    }

    .login-image-contetnt {
        font-size: 30px;
        line-height: 46px;
    }

    .maiacare-button-large {
        font-size: 16px;
    }

    .maiacare-button-medium {
        font-size: 14px;
    }

    .maiacare-button-small {
        font-size: 12px;
    }
}

/* Optional: Smaller devices like phones (e.g., 575px and below) */
@media (max-width: 575px) {
    .maiacare-input-field-label {
        font-size: 12px;
    }

    .maiacare-input-field {
        font-size: 14px;
    }

    .maiacare-input-field-helper-text,
    .maiacare-input-field-error {
        font-size: 12px;
    }

    .maiacare-radio-label {
        font-size: 12px;
    }

    .modal-custom-header {
        font-size: 18px;
    }

    .login-title {
        font-size: 27px;
        line-height: 30px;
    }

    .login-subtitle {
        font-size: 14px;
        line-height: 20px;
    }

}

@media screen and (max-width: 426px) {
    .login-title {
        font-size: 25px;
        line-height: 25px;
    }

    .login-subtitle {
        font-size: 13px;
        line-height: 20px;
    }

    .maiacare-button-large {
        font-size: 14px;
    }

    .maiacare-button-medium {
        font-size: 12px;
    }

    .maiacare-button-small {
        font-size: 10px;
    }
}

@media screen and (max-width: 376px) {}

@media screen and (max-width: 320px) {}




/* pankaj solanki start*/



.setting-password-item-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: var(--color-sidebar-icon);

}

.password-requirements {
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    color: var(--color-radio-lable);
    /* default */
}

.password-requirements.active {
    color: var(--color-profile-name);
}

/* setting accordion */
.accordion-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    color: var(--color-heading);

}

.settings-accordion-subtitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: var(--color-radio-lable);
}

.appoiment-dots-open-danger {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: var(--color-dander);
}

.your-device-box-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #1E293B;
}

.your-device-box-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-heading);
    width: 90%;

}

.support-faqs-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #1E293B;

}

.support-faqs-desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-heading);

}

.contact-detail {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #1E293B;
}

.support-accordion-content {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #858B95;
    padding: 20px !important;
}

.forgate-password {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: var(--color-brand);
    cursor: pointer;
}

.accordion-title-detail {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    font-style: SemiBold;
    color: var(--color-radio-lable);
}

.border-box-orange-font {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    font-style: medium;
    color: var(--border-box);
}

.border-box-blue-font {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    font-style: medium;
    color: var(--border-box-blue);
}

.border-box-red-font {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    font-style: medium;
    color: var(--border-box-red);
}

/* support accordion */

.support-accordion-header {
    font-size: 16px;
    font-weight: 550;
    line-height: 20px;
    color: var(--color-radio-lable);
    padding: 0 10px;
}

.patient-report-box-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    font-style: SemiBold;
    color: var(--color-radio-lable);
}

.patient-treatment-status-Ongoing {
    border-radius: 8px;
    padding: 4px 8px;
    background-color: #EBF5FF;
    color: #3F83F8;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    font-style: Medium;
    height: fit-content;
}

.patient-treatment-status-Completed {
    border-radius: 8px;
    padding: 4px 8px;
    background-color: #DEF7EC;
    color: #057A55;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    font-style: Medium;
    height: fit-content;
}

.patient-treatment-status-Completed select{
    color: red;
}

.patient-report-box-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    font-style: Regular;
    color: var(--color-sidebar-icon);
}

.patient-report-box-fileInfo {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-style: Regular;
    color: var(--color-sidebar-icon);
}

.patient-treatment-box-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    font-style: SemiBold;
    color: var(--color-radio-lable);
}

.patient-treatment-box-subtitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    font-style: SemiBold;
    color: var(--color-sidebar-icon);

}

.patient-treatment-box-subtitle-desc {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    font-style: Medium;
    color: var(--color-radio-lable);
}

.patient-treatment-box-subtitle-desc-fees {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    font-style: SemiBold;
    color: var(--color-modal-heading);
}

.patient-treatment-box-subtitle-desc-half-paid {
    border: 1px solid #F4C47E;
    color: var(--border-box);
    border-radius: 8px;
    padding: 4px 8px;

    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    font-style: Medium;
}


.patient-treatment-box-subtitle-desc-paid {
    border: 1px solid #057A55;
    color: #057A55;
    border-radius: 8px;
    padding: 4px 8px;

    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    font-style: Medium;
}

.patient-journey-badge-success {
    border-radius: 8px;
    padding: 4px 8px;
    background-color: #DEF7EC;
    color: #057A55;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    font-style: Medium;
    height: fit-content;
}

.patient-journey-badge-pending {
    border-radius: 8px;
    padding: 4px 8px;
    background-color: #FFF8F1;
    color: var(--border-box);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    font-style: Medium;
    height: fit-content;
}

.patient-journey-badge-InProgress {
    border-radius: 8px;
    padding: 4px 8px;
    background-color: var(--color-bg);
    color: var(--border-box-blue);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    font-style: Medium;
    height: fit-content;
}

.add-patient-form-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    font-style: SemiBold;
    color: var(--color-heading);
}

.modal-custom-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-radio-lable);
}

.phisical-assessment-accordion-showData-box-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    font-style: Medium;
    color: var(--color-sidebar-icon);
}

.phisical-assessment-accordion-showData-box-subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    font-style: Medium;
    color: var(--color-radio-lable);
}

.phisical-assessment-accordion-title-showData {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    font-style: Medium;
    color: var(--color-radio-lable);
}

.service-details-box-content-data-total {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    font-style: Bold;
    color: var(--color-brand);
}

.invoice-main-header {
    font-size: 36px;
    font-weight: 500;
    line-height: 40px;
    font-style: Medium;
    color: var(--color-modal-heading);

}

.invoice-no-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    font-style: Medium;
    color: var(--color-invoice-no-title);


}

.invoice-no-title-subtitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    font-style: Medium;
    color: var(--color-radio-lable);
}

.appointment-details-invoice-header {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    font-style: SemiBold;
    color: var(--color-heading);

}

.appointment-details-invoice-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    font-style: SemiBold;
    color: var(--color-sidebar-icon);
}

.appointment-details-invoice-subtitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    font-style: Medium;
    color: var(--color-radio-lable);

}

.invoice-doctor-name {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    font-style: SemiBold;
    color: var(--color-radio-lable);
}

.invoice-doctor-contact-detail {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    font-style: Regular;
    color: var(--color-sidebar-icon);
}

.service-details-box-header-content {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    font-style: SemiBold;
    color: var(--color-radio-lable);
}

.service-details-box-content-data {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    font-style: SemiBold;
    color: var(--color-radio-lable);
}

.patient-journey-box-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-style: Regular;
    color: var(--color-heading);
}

.patient-journey-box-subtitle {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    font-style: Regular;
    color: var(--color-sidebar-icon);
}

.or-custom-slash {
    font-size: 40px;
    color: var(--color-radio-lable);
}

.dashboard-subheader {
    font-size: 31px;
    font-weight: 600;
    line-height: 33px;
    font-style: SemiBold;
    color: var(--color-heading);
}

.dashboard-card-subtitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    font-style: SemiBold;
    color: var(--color-radio-lable);
}

.dashboard-chart-heading {
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    font-style: Medium;
    color: var(--color-heading);
}

.dashboard-card-green {
    font-size: 14px !important;
    font-weight: 600;
    line-height: 20px;
    font-style: SemiBold;
    color: var(--dashboard-card-green);
}

.dashboard-card-orange {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    font-style: SemiBold;
    color: var(--login-font);
}

.dashboard-card-red {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    font-style: SemiBold;
    color: var(--dashboard-card-red);
}

.dashboard-chart-dropdown {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-style: SemiBold;
    color: var(--input-forgot-password);
}

.appointment-reschedule-profile-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    font-style: Medium;
    color: var(--color-profile-name);
}

.appointment-reschedule-profile-detail {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-style: Regular;
    color: var(--color-sidebar-icon);
}

.appointment-reschedule-profile-schedule-detail {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    font-style: Medium;
    color: var(--color-radio-lable);
}

.blood-test-box-label{
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    font-style: Medium;
    color: var(--color-radio-lable);
}

.progressbar-step {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-style: Regular;
    color: var(--color-profile-name);
}

.doctor-listing-today-schedule-boxs {
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    font-style: medium;
    color: var(--color-radio-lable);
}

.doctor-listing-modal-orange-box {
    border: 1.5px solid #F4C47E;
    color: var(--border-box);
    border-radius: 8px;
    padding: 4px 6px;

    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    font-style: Medium;
}

.doctor-listing-all-box {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    font-style: SemiBold;
    color: #FFFFFF;
}

.doctor-listing-date-heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    font-style: SemiBold;
    color: var(--color-heading);
}

.doctor-listing-date-subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    font-style: medium;
    color: var(--color-modal-heading);
}

.doctor-listing-day-week-month {
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    font-style: Bold;
    color: var(--color-white);
}

.doctor-listing-day-custom-active111 {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    font-style: SemiBold;
    color: var(--color-sidebar-icon);
}

.doctor-listing-modal-profile-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    font-style: Medium;
    color: var(--color-heading);
}

.doctor-listing-modal-profile-subtitle {
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    font-style: Medium;
    color: var(--modal-follw-btn-color);
}

.doctor-listing-payment-unpaid {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    font-style: Medium;
    color: var(--border-box-red);
}

.doctor-listing-aditional-commit {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    font-style: Medium;
    color: var(--color-radio-lable);
}

.doctor-listing-modal-main-title {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    font-style: Medium;
    color: var(--color-brand);
}

.treatment-steps-box-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    font-style: Medium;
    color: var(--color-heading);
}

.medication-prescription-accordion-subtitle{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-style: Regular;
    color: var(--color-radio);
}

.medication-prescription-accordion-item{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-style: Regular;
    color: var(--color-radio-labl);
}

@media screen and (max-width: 1391px) {
    .contact-detail {
        font-size: 13px;
    }

    .support-accordion-header {
        font-size: 15px;
    }
}

@media screen and (max-width: 1366px) {

    .contact-details-emergency {
        font-size: 13px;
    }

    .phisical-assessment-accordion-showData-box-subtitle {
        font-size: 15px;
    }

    .medical-emergency-fimily-history {
        font-size: 15px;
    }

    .accordion-title-detail {
        font-size: 15px;
    }

}


@media screen and (max-width: 1327px) {
    .contact-detail {
        font-size: 12px;
    }

}


@media screen and (max-width: 1250px) {
    .contact-detail {
        font-size: 11px;
    }

    .support-accordion-header {
        font-size: 14px;
    }
}

@media screen and (max-width: 1199px) {
    .support-accordion-header {
        font-size: 15px;
    }


    .contact-detail {
        font-size: 12px;
    }
    .your-device-box-title {
        font-size: 17px;
    }
    .your-device-box-subtitle {
        font-size: 15px;

    }
    
}


@media screen and (max-width: 1111px) {
    .appointment-details-invoice-subtitle {
        font-size: 16px;
    }
}
@media screen and (max-width: 1032px){
    .your-device-box-title {
        font-size: 16px;
    }
    .your-device-box-subtitle {
        font-size: 14px;

    }
}
@media screen and (max-width: 1024px) {
    .contact-detail {
        font-size: 11px;
    }

    .appointment-details-invoice-subtitle {
        font-size: 15px;
    }

    .accordion-title {
        font-size: 20px;
    }

    .settings-accordion-subtitle {
        font-size: 13px;

    }

    .support-faqs-title {
        font-size: 17px;
    }

    .support-faqs-desc {
        font-size: 13px;
    }

    .support-accordion-header {
        font-size: 13px;
    }

    .support-accordion-content {
        font-size: 13px;
    }

    .forgate-password {
        font-size: 15px;
    }


}

@media screen and (max-width: 991px) {
    .contact-detail {
        font-size: 13px;
    }
}

@media screen and (max-width: 767px) {
    .accordion-title {
        font-size: 18px;
    }

    .support-faqs-title {
        font-size: 16px;
    }

    .add-patient-form-title {
        font-size: 22px;
    }

    .invoice-doctor-name {
        font-size: 22px;
    }

    .service-details-box-header-content {
        font-size: 17px;

    }

    .service-details-box-content-data {
        font-size: 18px;
    }

    .service-details-box-content-data-total {
        font-size: 22px;
    }

}

@media screen and (max-width: 575px) {
    .accordion-title {
        font-size: 17px;
    }

    .settings-accordion-subtitle {
        font-size: 12px;

    }

    .patient-report-box-title {
        font-size: 17px;
    }

    .patient-report-box-subtitle {
        font-size: 15px;

    }

    .patient-report-box-fileInfo {
        font-size: 13px;
    }

    .patient-treatment-box-title {
        font-size: 17px;
    }

    .modal-custom-content {
        font-size: 15px;

    }

    .patient-treatment-box-subtitle-desc {
        font-size: 15px;
    }

    .patient-treatment-box-subtitle-desc-fees {
        font-size: 18px;
    }

    .add-patient-form-title {
        font-size: 20px;
    }

    .invoice-no-title {
        font-size: 17px;

    }

    .invoice-no-title-subtitle {
        font-size: 17px;

    }

    .appointment-details-invoice-header {
        font-size: 17px;
    }

    .invoice-doctor-name {
        font-size: 19px;
    }

    .invoice-doctor-contact-detail {
        font-size: 15px;
    }

    .patient-accordion-content-subtitle {
        font-size: 18px;

    }

    .service-details-box-content-data {
        font-size: 17px;
    }

    .service-details-box-header-content {
        font-size: 16px;

    }

    .service-details-box-content-data-total {
        font-size: 22px;
    }

    .invoice-main-header {
        font-size: 34px;

    }

    .forgate-password {
        font-size: 14px;
    }

    .support-faqs-title {
        font-size: 15px;
    }

    .support-accordion-content {
        font-size: 12px;
    }
}

@media screen and (max-width: 425px) {

    /* .your-device-box-title {
        font-size: 16px;
    }

    .your-device-box-subtitle {
        font-size: 14px;
    } */

    .accordion-title {
        font-size: 16px;
    }

    .patient-report-box-title {
        font-size: 16px;
    }

    .patient-report-box-subtitle {
        font-size: 14px;

    }

    .patient-report-box-fileInfo {
        font-size: 12px;
    }

    .patient-treatment-box-title {
        font-size: 16px;
    }

    .patient-treatment-box-subtitle-desc {
        font-size: 14px;
    }

    .modal-custom-content {
        font-size: 14px;
    }

    .patient-treatment-box-subtitle-desc-fees {
        font-size: 16px;
    }

    .add-patient-form-title {
        font-size: 18px;
    }

    .invoice-no-title {
        font-size: 16px;

    }

    .invoice-no-title-subtitle {
        font-size: 16px;

    }

    .appointment-details-invoice-header {
        font-size: 16px;
    }

    .invoice-doctor-name {
        font-size: 18px;
    }

    .invoice-doctor-contact-detail {
        font-size: 14px;
    }

    .patient-accordion-content-subtitle {
        font-size: 16px;

    }

    .service-details-box-content-data {
        font-size: 16px;
    }

    .service-details-box-header-content {
        font-size: 14px;

    }

    .service-details-box-content-data-total {
        font-size: 20px;
    }

    .invoice-main-header {
        font-size: 30px;

    }

    .forgate-password {
        font-size: 13px;
    }

    .support-faqs-title {
        font-size: 14px;
    }
}

@media screen and (max-width: 375px) {
    .accordion-title {
        font-size: 15px;
    }

    .patient-journey-box-title {
        text-align: center;
    }

    .patient-journey-box-subtitle {
        text-align: center;
    }

}

/* pankaj solanki end */
