:root {
  --color-bg: #f5f7fa;
  --color-white: #fff;
  --color-black: #000;
  --color-border: #e2e8f0;
  --color-brand: #2B4360;
  --color-heading: #292929;
  --color-icon-border: #DDE1E8;
  --color-sidebar-icon: #8A8D93;
  --sidebar-width: 225px;
  --sidebar-width-collapsed: 58px;
  --color-radio: #B0B4C1;
  --color-radio-lable: #3E4A57;
  --color-modal-heading: #E29578;
  --login-font: #E29578;
  --font-subtitle: #8A8D93;
  --input-forgot-password: #2B4360;
  --google-icon-border: #DDE1E8;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  font-family: 'Poppins', sans-serif;
}

input:focus {
  box-shadow: none !important;
}

.input-email-data{
  position: absolute;
  top: 55%;
  left: 2%;
}
.maiacare-input-field-container .input-email-login-data::placeholder{
  padding-left: 20px !important;
}
.passwored-btn-icon{
  top: 72% !important;
}

.xyz .maiacare-input-field   {
  padding-left: 35px;
}

.abc{
  position: absolute;
}
.pregnecy-image{
  height: 100vh !important;
  /* width: 105vh !important; */
  /* object-fit: contain !important; */
 
}
.main-pregnancy-img image{
  height: 100vh !important;
  /* width: 105vh !important; */
}