:root {
  --color-bg: #f5f7fa;
  --color-white: #fff;
  --color-black: #000;
  --color-border: #e2e8f0;
  --color-brand: #2B4360;
  --color-heading: #292929;
  --color-icon-border: #DDE1E8;
  --color-sidebar-icon: #8A8D93;
  --sidebar-width: 225px;
  --sidebar-width-collapsed: 58px;
  --color-radio: #B0B4C1;
  --color-radio-lable: #3E4A57;
  --color-modal-heading: #E29578;
  --login-font: #E29578;
  --font-subtitle: #8A8D93;
  --input-forgot-password: #2B4360;
  --google-icon-border: #DDE1E8;
  --color-radio-lable: #3E4A57;
  --color-placeholder-input: #475569;
  --or-font-color: #B0B4C1;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  font-family: 'Poppins', sans-serif;
}


.input-email-data {
  position: absolute;
  top: 55%;
  left: 2%;
}

.maiacare-input-field-container .input-email-login-data::placeholder {
  padding-left: 20px !important;
}

.passwored-btn-icon .input-email-login-data .maiacare-input-field-error {
  width: 375px !important;
}

.passwored-btn-icon {
  top: 72% !important;
}

.xyz .maiacare-input-field {
  padding-left: 35px;
}

.abc {
  position: absolute;
}

.pregnecy-image {
  /* height:45.5em !important; */
  /* width: 105vh !important; */
  /* object-fit: contain !important; */

}

.main-pregnancy-img image {
  height: 100% !important;
  /* width: 105vh !important; */
}

/* pankaj solanki start */

.setting-password-input .maiacare-input-field::placeholder {
  color: var(--color-placeholder-input) !important;
}

/* pankaj solanki end */



.timeline-marker {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
}

.timeline-line {
  width: 2px;
  height: 40px;
  left: 5px;
  top: 12px;
  background-color: #dee2e6;
}

.custom-shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.profile-card-btn-status {
  color: #3F83F8 !important;
  border-radius: 8px !important;
}

.profile-active-btn {
  background-color: #EBF5FF !important;
  color: #3F83F8 !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  padding: 4px 8px !important;
}

.no-caret::after {
  display: none !important;
}