:root {
  --color-bg: #f5f7fa;
  --color-white: #fff;
  --color-black: #000;
  --color-border: #e2e8f0;
  --color-brand: #2B4360;
  --color-heading: #292929;
  --color-icon-border: #DDE1E8;
  --color-sidebar-icon: #8A8D93;
  --sidebar-width: 225px;
  --sidebar-width-collapsed: 58px;
  --color-radio: #B0B4C1;
  --color-radio-lable: #3E4A57;
  --color-modal-heading: #E29578;
  --login-font: #E29578;
  --font-subtitle: #8A8D93;
  --input-forgot-password: #2B4360;
  --google-icon-border: #DDE1E8;
  --color-radio-lable: #3E4A57;
  --color-placeholder-input: #475569;
  --color-profile-name: #131D2A;
  --color-progressbar-success: #70AAA4;
  --color-progressbar-secondary: #E6F3F2;
  --color-dander: #E85966;
  --color-age-select-item: #111928;
  --border-check-box: #CBD5E1;
  --border-accordion-arrow: #F4F4F4;

  --color-scrollbar-thumb: #F1F1F2;
  --background-color-staus-success: #F2F2FF;
  --border-status-success: #3E5A91;
  --color-completed: #F4C47E;
  --or-font-color: #B0B4C1;
  --border-box: #FF8A4C;
  --border-box-blue: #3F83F8;
  --border-box-red: #F05252;
  --color-invoice-no-title: #6B7280;
  --dashboard-card-green: #2ECF98;
  --dashboard-card-red: #E85966;
  --dashboard-chart-patients: #057A55;
  --waiting-box: #E78422;
  --engaged-box: #5A94D9;
  --done-box: #1CB384;
  --modal-profile-color: #F5F7FA;
  --modal-follw-btn-color: #7E3AF2;
  --calender-day: #8e8e93;

  --font-geist-sans1: var(--font-geist-sans);
  --font-geist-mono1: var(--font-geist-mono);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);

  font-family: var(--font-popins) !important;

}



.input-email-data {
  position: absolute;
  top: 55%;
  left: 2%;
}

.maiacare-input-field {
  box-shadow: none !important;
}

.maiacare-input-field-container .input-email-login-data::placeholder {
  padding-left: 20px !important;
}

.passwored-btn-icon .input-email-login-data .maiacare-input-field-error {
  width: 375px !important;
}

.passwored-btn-icon {
  top: 69% !important;
}

/* .xyz .maiacare-input-field {
  padding-left: 35px;
} */


.abc {
  position: absolute;
}

.input-forgot-password-btn {
  padding: 14px 24px !important;
}

.main-pregnancy-img image {
  height: 100% !important;
  /* width: 105vh !important; */
}

/* pankaj solanki start */

.input-Amount .maiacare-input-field {
  padding-left: 55px !important;
}

.blood-test-search .maiacare-input-field {
  padding-right: 50px !important;
}

.patient-header-search-width {
  width: 25%;
}

.patient-header-search-width-doctor-list {
  width: 56%;
}

.patient-header-search .maiacare-input-field {
  border: 1px solid var(--color-icon-border) !important;
  width: 100%;
  /* padding: 15px !important; */
}

.patient-header-select-filter .maiacare-input-field {
  border: 1px solid var(--color-icon-border) !important;
  width: 130px;

}

.patient-header-filter-icon-box {
  background-color: var(--color-white);
  border: 1px solid var(--color-icon-border) !important;
  border-radius: 8px !important;
  padding: 12px !important;
  cursor: pointer;
}


.sort-by-lable {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-style: Medium;
  color: var(--color-heading);
}

.blood-test-search-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(-50%, -50%);
}

.appointments-total-box {
  background-color: var(--color-white);
  border: 1px solid var(--color-icon-border);
  border-radius: 8px;
  padding: 8px;
  /* width: 300px; */
}

.progressbar-step-success {
  height: 10px;
  border-radius: 8px;
  background-color: var(--color-progressbar-success) !important;
}

.progressbar-step-secondary {
  height: 10px;
  border-radius: 8px;
  background-color: var(--color-progressbar-secondary) !important;
}

/* all accordion open close icon for global */
.accordion-button:after {
  width: var(--bs-accordion-btn-icon-width) !important;
  height: var(--bs-accordion-btn-icon-width) !important;
  content: "" !important;

  background-image: url("../assets/images/AccodionButton.png") !important;
  background-repeat: no-repeat !important;
  background-size: var(--bs-accordion-btn-icon-width) !important;
  transition: var(--bs-accordion-btn-icon-transition) !important;
  flex-shrink: 0 !important;
  margin-left: auto !important;

}

.add-new-button {
  padding: 6px 12px !important;
}

.treatment-steps-box {
  border: 1px solid var(--color-icon-border);
  border-radius: 12px;
  padding: 15px;

}

.accordion-item:not(:first-of-type) {
  border: 1px solid var(--color-border);
}

/* Remove background and shadow on accordion expansion  FOR ALL ACCORDION*/
.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none !important;
}

.accordion-button:focus {
  box-shadow: none !important;
  outline: none !important;
}

/* Remove background and text color change on hover or active */
.custome-patient-dropdown .dropdown-item:hover,
.custome-patient-dropdown .dropdown-item:active,
.custome-patient-dropdown .dropdown-item.active,
.custome-patient-dropdown .dropdown-item:focus {
   background-color: var(--color-progressbar-secondary) !important;
  color: inherit !important;
  box-shadow: none !important;
  cursor: pointer !important;
  
}
.custome-patient-dropdown .dropdown-item.select-patient {
  background-color: var(--color-progressbar-secondary) !important;
}

.payment-status {
  position: absolute;
  top: 56%;
  left: 20px;
}

.payment-status-error-time {
  position: absolute;
  top: 43%;
  left: 20px;
}

.cursor-pointer-custom {
  cursor: pointer !important;
}

/* pankaj solanki end */

.timeline-marker {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
}

.timeline-line {
  width: 2px;
  height: 40px;
  left: 5px;
  top: 12px;
  background-color: #dee2e6;
}

.custom-shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.profile-card-btn-status {
  color: var(--border-box-blue) !important;
  border-radius: 8px !important;
}

/* .profile-active-btn {
  background-color: #EBF5FF !important;
  color: var(--border-box-blue) !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  padding: 4px 8px !important;
} */

.no-caret::after {
  display: none !important;
}

.custom-small-modal .modal-dialog {
  max-width: 650px;
  /* adjust as needed */
  width: 81%;
}

/* .box-border-orange {
  border: 1px solid var(--border-box);
  padding: 4px 10px !important;
  color: var(--border-box);
  border-radius: 8px !important;
} */


.box-border-orange {
  display: inline-block;
   border: 1px solid var(--border-box);
   color: var(--border-box);
   border-radius: 8px !important;
  padding: 6px 14px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  white-space: nowrap; /* keeps text in one line */
  text-align: center;
  overflow: visible; /* prevents text cutting */
  box-sizing: border-box;
}



.box-border-blue {
  border: 1px solid var(--border-box-blue);
  padding: 4px 10px !important;
  color: var(--border-box-blue);
  border-radius: 8px !important;
}

.box-border-red {
  border: 1px solid var(--border-box-red);
  padding: 4px 10px !important;
  color: var(--border-box-red);
  border-radius: 8px !important;
}

.patient-journey-up-icon1 {
  width: 48px;
  height: 48px;
  background-color: var(--color-white);
  border: 1px solid var(--google-icon-border);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.patient-profile-card {
  padding: 24px !important;
}

.doctor-listing-modal-profile-subtitle {
  background-color: #EDEBFE;
  padding: 4px 8px;
  border-radius: 10px;
}

.doctor-listing-payment-unpaid {
  background-color: #FDF2F2;
  padding: 4px 8px;
  border-radius: 10px;
}

.login-password-data::placeholder {
  margin-top: 250px !important;
  padding-top: 250px !important;
}

.calander-card-data {
  border: 1px solid #e78422;
  cursor: pointer !important;
  color: #fff !important;
}

.css-4k4mmf-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #e78422 !important;
}

.css-qct7wd-MuiButtonBase-root-MuiPickersDay-root .Mui-selected {
  background-color: #e78422 !important;
}

/* 1440 > big screen apply */
@media (min-width: 1640px) {
  .patient-header-search-width {
    width: 20%;
  }
}

@media screen and (max-width: 1024px) {
  .patient-header-search-width {
    width: 28%;
  }
}

@media screen and (max-width: 768px) {
  .sort-by-lable {
    font-size: 15px;

  }
}

@media screen and (max-width: 767px) {
  .patient-header-search-width {
    width: 45%;
  }

  .patient-header-filter-icon-box {
    padding: 12px !important;
  }

}

@media screen and (max-width: 575px) {
  .patient-journey-up-icon1 {
    width: 45px;
    height: 45px;
  }

  .patient-header-search-width {
    width: 100%;
  }

  .patient-header-filter-icon-box {
    padding: 10px !important;
  }

  .sort-by-lable {
    font-size: 14px;
  }

  .payment-status {
    left: 15px;
  }

  .payment-status-error-time {
    left: 15px;
  }
}

@media screen and (max-width: 425px) {
  .patient-journey-up-icon1 {
    width: 40px;
    height: 40px;

  }
}



.appointment-card {
  background-color: #f0f7f6;
  border-radius: 8px;
  padding: 6px;
  margin: 2px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.appointment-header {
  display: flex;
  align-items: center;
  gap: 6px;
}

.appointment-header img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.appointment-name {
  font-weight: 600;
  color: #333;
}

.appointment-time {
  font-size: 11px;
  color: #6c757d;
}

.appointment-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  margin-top: 3px;
}

.tag {
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 4px;
  border: 1px solid #f5c6cb;
  color: #d9534f;
  background-color: #f9eaea;
}

.aw-highlighted {
  background-color: #fff9f0;
}


/* Inhosue Start */

:root {
  --color-bg: #f5f7fa;
  --color-white: #fff;
  --color-black: #000;
  --color-border: #e2e8f0;
  --color-brand: #2B4360;
  --color-heading: #292929;
  --color-icon-border: #DDE1E8;
  --color-sidebar-icon: #8A8D93;
  --sidebar-width: 225px;
  --sidebar-width-collapsed: 58px;
  --color-radio: #B0B4C1;
  --color-subtitle-pink: #E29578;
  --color-radio-lable: #3E4A57;
  --color-modal-heading: #E29578;
  --color-modal-subheading: #94A3B8;
  --color-modal-border: #CBD5E1;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  font-family: var(--font-popins) !important;
}


.font-geist-sans {
  font-family: var(--font-geist-sans) !important;
}

.font-geist-mono {
  font-family: var(--font-geist-mono) !important;
}

.test .maiacare-input-field {
  padding-left: 33px;
}

.icon-color {
  color: #2B4360;
}

.eye-color {
  color: #B0B4C1;
}

.active-tab {
  background-color: #2B4360;
  color: #fff !important;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
}

.lock-image {
  height: 50px;
  width: 50px;
}

.custom-pagination .page-item .page-link {
  border: none;
  background: transparent;
  color: #8A8D93;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 500;
}

.custom-pagination .page-item.active .page-link {
  background-color: #EDF5FF;
  color: #2B4360;
  border-radius: 6px;
}

.custom-pagination .page-item.disabled .page-link {
  color: #8A8D93;

}

.custom-pagination .page-item:first-child .page-link,
.custom-pagination .page-item:last-child .page-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-results {
  color: #8A8D93;
  font-size: 14px;
  font-weight: 500;
}

body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.patient-detail-page .overflow-auto {
  scrollbar-width: none;
  /* Firefox */
}

.patient-detail-page .overflow-auto::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.Assign-button {
  background-color: #2B4360 !important;
  border-color: #2B4360 !important;
  width: 108px;
  height: 32px;
  border-radius: 8px;
}

.women-image {
  height: 35px;
  width: 35px;
}


@media (max-width: 525px) {

  .searchbar-content {
    justify-content: center !important;
  }

}

.patient-box {
  height: 80%;
}

/* Edit-Kyc-Details Start */
.kyc-edit-aadhar {
  height: 100%;
  width: 100%;
}

.kyc-edit-aadhar-photo {
  display: none;
}

.licence-data {
  cursor: pointer;
}

.qualification-certificates-data {
  height: 160px;
  width: 160px;
}

.qualification-certificates {
  border: 2px dotted #DDE1E8 !important;
}

.qualification-certificates-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.qualification-certificates-file-title {
  max-width: 100%;
}

.qualification-certificates-add-new-file {
  width: 160px;
  height: 160px;
  cursor: pointer;
}

.qualification-certificates-progress-bar {
  height: 8px;
}

.qualification-certificates-edit-btn {
  width: 50px;
  height: 49px;
  margin-top: 30px;
}

/* Edit-Kyc-Details-End */
/* Edit-Basic-Details-Start */
.edit-basic-details-modal {
  width: 160px;
  height: 160px;
  border-radius: 16px;
}

.edit-basic-details-image {
  object-fit: cover !important;
}

.edit-basic-details-error-font {
  font-size: 14px !important;
}

.edit-basic-details-edit-button {
  cursor: pointer;
}

.edit-basic-details-edit-input {
  display: none;
}

.edit-basic-camera-icon {
  cursor: pointer !important;
}

.edit-basic-qualification-button {
  width: 32px;
  height: 32px;
  padding: 0;
}

/* Edit-Basic-Details-End */
/* Appointment Patient Detail Page Start*/
.appointment-patient-detail-image {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1050;
}

/* Appointment Patient Detail Page End */

/* Consultation-Start */
.consultations-image-summary-cards {
  display: flex;
  gap: 10px;
}

.consultations-image-book {
  display: flex;
  align-items: center;
  width: 190px;
}

/* Consultation-End */
/* Inventory Start */
.inventory-serach-fillter {
  display: flex;
  gap: 10px;
}

.inventory-serach-consulations {
  display: flex;
  align-items: center;
  width: 190px;
}

/* Inventory End */
/* Inventory Detail Page Start */
.inventory-detail-page-textarea {
  border: 1px solid #DDE1E8;
}

.inventory-detail-page-button {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1050;
}

/* Inventory Detail Page End */

/* AppointmentSummaryCards Start */
.appointment-summary-cards {
  cursor: pointer !important;
}

/* AppointmentSummaryCards End */

/* SiteLayout Start */
.sitelayout-header-icon {
  cursor: pointer !important;
}

/* SiteLayout End */




/* Scroall Bar Hide Start */
/* Hide scrollbar globally */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;
}

/* Prevent scroll still works */
body {
  overflow: auto;
}

/* Scroall Bar Hide End */

/* Hide default time picker icon for Chrome, Edge, and Safari */
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  appearance: none;
}

/* Optional: For Firefox */
.edit-basic-detail-timepicker input[type="time"] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 376px) {
  .edit-basic-detailsat-sun {
    margin-top: 5px !important;
  }
}

/* Remove background and shadow on accordion expansion  FOR ALL ACCORDION*/
.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none !important;
}

.accordion-button:focus {
  box-shadow: none !important;
  outline: none !important;
}

.form-select {
  /* --bs-form-select-bg-img: url(../assets/images/Arrow.png); */
  width: 100%;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  background-position: right .75rem center;
  background-repeat: no-repeat;
  background-size: 17px 9px;
}

.profile-icon-border .maiacare-button {
  padding: 9px 10px !important;
}

.profile-icon-border .outline-layout {
  border: 1px solid #DDE1E8 !important;
}

.profile-card-boeder:hover {
  background-color: white !important;
}

.pation-profile-data .content-layout {
  padding: 16px !important;
}

.pation-profile-dataa .content-layout {
  padding: 30px !important;
}


.status-completed {
    background-color: #DEF7EC;
    color: #057A55;
}

.status-pending {
    background-color: #EBF5FF;
    color: #3F83F8;
}

.status-cancelled {
    background-color: #FDF2F2;
    color: #F05252;
}

.status-scheduled {
    background-color: #EDEBFE;
    color: #7E3AF2;
}

.status-noresponse {
    background-color: #FFF8F1;
    color: #FF8A4C;
}

.status-rescheduled {
    background-color: #EDFAFA;
    color: #0694A2;
}

/* Inhosue End */


