.input-email-login-data .maiacare-input-field{
    padding-left: 40px !important; 
    color: var(--color-radio-lable) !important;
    
}
.input-email-login-data .maiacare-input-field::placeholder{
    color: var(--color-radio-lable) !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    font-style: medium !important;
}
.login-title .main-login-title 
{
    align-items: center !important;
}
.login-title1 .main-login-title {
    align-items: center !important;
}