.custom-side-bar-box {
    padding: 16px;
    background-color: var(--color-white);
    border-radius: 12px;
}

.treament-sidebar-item {
    border-radius: 8px;
    padding: 10px 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.custom-side-bar .nav-link {
    background-color: var(--modal-profile-color) !important;
    padding: 0 !important;
}

.custom-side-bar .nav-link.active {
    background-color: var(--color-modal-heading) !important;
    color: var(--color-white) !important;
}

.custom-side-bar .nav-link.active span {
    color: var(--color-white) !important;
}

.progressUpdates-border-box {
    border: 1px solid var(--color-icon-border);
    padding: 16px;
    border-radius: 12px;

}

.progressUpdates-border-Partner-box {
    border: 1px solid var(--color-icon-border);
    padding: 12px;
    border-radius: 8px;
}